{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": "./tsconfig.json"
      }
    }
  },
  "plugins": ["@typescript-eslint", "@nrwl/nx"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "import/namespace": 0,
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "alphabetize": { "order": "asc" },
        "newlines-between": "always",
        "pathGroups": [{ "pattern": "@zed-builder/**", "group": "internal" }]
      }
    ],
    "@nrwl/nx/enforce-module-boundaries": [
      "error",
      {
        "allow": ["@zed-builder/core/testing"],
        "depConstraints": [
          { "sourceTag": "core", "onlyDependOnLibsWithTags": [] },
          {
            "sourceTag": "builder",
            "onlyDependOnLibsWithTags": ["core", "builder"]
          },
          {
            "sourceTag": "locator",
            "onlyDependOnLibsWithTags": ["core", "locator"]
          },
          { "sourceTag": "*", "onlyDependOnLibsWithTags": ["*"] }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
